/*----------------shopcart購物車頁面開始(<768)---------------*/
/*----------------客製化明信片頁面的共用----------------*/
.wrapA{
    width: 100%;
}

section.pageTitle .container{
    text-align: center;
    padding: 150px 0 20px;
    position: relative;
}

body.postcardBody .container{
    position: relative;
}


body{
    font-family: 'Noto Serif TC', serif;
    background-color: rgb(255, 230, 193);
}

@font-face {
    font-family: '華康秀風體';
    src: url('華康秀風體.TTF')
    /*unicode-range: U+884C, U+7A0B, U+4ECB, U+7D39;*/
}

/*for AJAX*/
#form1, #form2, #form3{
    display: none;
}

/*----------------0.客製化明信片頁面的基本設定及共用----------------*/
body.postcardBody{
    background-color: #ffe6c1;
}

/*明信片白底陰影*/
.postWhiteBack{
    height: auto;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 2px 2px 6px 0 #999;
}

.postWhiteBack img{
    display: block;
    width: 100%;
    height: auto;
}

/*----------------1-1.pageTitle  標題:明信片範例----------------*/
section.postcardExampleTitle .container h1{
    padding-bottom: 20px;
}

section.postcardExampleTitle .postcardOdometer{
    font-family: 'Noto Serif TC', serif, '華康秀風體';
    padding-bottom: 4px;
}


/*信封小鳥*/
section.postcardExampleTitle .container div.birdEnvelope{
    width: 5%;
    max-width: 70px;
    min-width: 30px;
    position: absolute;
    top: 0;
    right: -100%;
    animation: flyX 11s linear 5s infinite normal,
                flyY 11s linear 5s infinite normal,
                opacity1 11s linear 5s infinite normal;
}

@keyframes flyX{
    0%{ left: 125%;opacity: 1;}
    20%{ left: 90%;opacity: .8;}
    40%{ left: 60%;opacity: .5;}
    100%{ left: -10%;opacity: 0;}
}

@keyframes flyY{
    0%{ top: 125%;}
    30%{ top: 50%;}
    100%{ top: -40%;}
}

@keyframes opacity1{
    0%{opacity: 1;}
    30%{opacity: .9;}
    36%{opacity: .8;}
    40%{opacity: .7;}
    43%{opacity: .6;}
    100%{opacity: .5;}
}

section.postcardExampleTitle .container img{
    display: block;
    width: 100%;
    height: auto;
}

/*----------------1-2.postcardExample  明信片範例----------------*/
/*明信片*/
section.postcardExample .container{
    padding-bottom: 120px;

}

section.postcardExample .postWhiteBackDemo{
    padding: 3px;
}

section.postcardExample .container > div{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

section.postcardExample .container > div .postWhiteBackDemo{
    width: 40%;
    margin-top: 20px;
    position: relative;     
}

section.postcardExample .container > div .postDemo1{transform: rotateZ(-3deg); animation: appearSpeedA 5s ease-in 1,}
section.postcardExample .container > div .postDemo2{transform: rotateZ(0deg);  animation: appearSpeedA 2s ease-in 1;}
section.postcardExample .container > div .postDemo3{transform: rotateZ(2deg); top: 25px; animation: appearSpeedA 3s ease-in 1;}
section.postcardExample .container > div .postDemo4{transform: rotateZ(-2deg); top: 15px; animation: appearSpeedA 4s ease-in 1;}

@keyframes appearSpeedA{
    0%{opacity: .3;}
    30%{opacity: .8;}
    100%{opacity: 1;}
}

section.postcardExample .container > div .postDemo1:before,
section.postcardExample .container > div .postDemo2:before,
section.postcardExample .container > div .postDemo3:before,
section.postcardExample .container > div .postDemo4:before{
    content: "";
    display: block;
    width: 12px;
    height: 20px;
    background-image: url(../images/postcard/tape2.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: -10px;
    left: 48%;
    opacity: 0;
}

section.postcardExample .container > div .postDemo1:before,
section.postcardExample .container > div .postDemo3:before{
    transform: rotateY(180deg);
    top: -12px;
    left: 48%;
}

section.postcardExample .container > div .postDemo1:before{animation: appearSpeedB 1s ease-in 3s 1 normal forwards;}
section.postcardExample .container > div .postDemo2:before{animation: appearSpeedB 1s ease-in 0.5s 1 normal forwards;}
section.postcardExample .container > div .postDemo3:before{animation: appearSpeedB 1s ease-in 1s 1 normal forwards;}
section.postcardExample .container > div .postDemo4:before{animation: appearSpeedB 1s ease-in 2s 1 normal forwards;}    

@keyframes appearSpeedB{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

/*食物裝飾*/
body.postcardBody .forFoodDeco{
    overflow: hidden;    
}

body.postcardBody .forFoodDeco .postcardFood{
    position: absolute;
    width: 16%;
    max-width: 190px;
    min-width: 70px;
}

body.postcardBody .forFoodDeco .postcardFood1{opacity: .4; z-index: -3; top: 70%; left: 60%;}
body.postcardBody .forFoodDeco .postcardFood2{opacity: .4; z-index: -3; top: 0%; left: 2%;}
body.postcardBody .forFoodDeco .postcardFood3{opacity: .4; z-index: -3; top: 20%; right: 2%;}

body.postcardBody .forFoodDeco .postcardFood img{
    display: block;
    width: 100%;
    height: auto;
}

/*----------------2-1,2-3.postLine  明信片裝飾斜線----------------*/
section.aapostLine{
    height: 8px;
    background-color: #fef6ea;
    background-image: url(../images/postcard/postLine.png);
    background-repeat: repeat-x; 
}


/*----------------2-2.postcardMain  明信片主要客製畫面----------------*/
section.postcardMain{
    width: 100%;
    background-color: #fef6ea;
}


/*----------------2-2.postcardMain  明信片主要客製畫面----------------*/
/*2-2-1.標題*/
section.postcardMain h1{
    text-align: center;
    padding: 50px 0 30px;    
}

section.postcardMain .container{
    position: relative;
    margin: 0 auto; 
}

section.postcardMain .postcardTitleContainer div{
    position: absolute;
}

section.postcardMain .postcardTitleContainer div.postGirl{
    top: -40px;
    left: 20px;
    width: 15%;
    min-width: 50px;
    max-width: 170px;
    height: auto;
}

section.postcardMain .postcardTitleContainer div.stemp{
    top: 20px;
    right: 15px;
    width: 8%;
    min-width: 35px;
    max-width: 96px;
    height: auto;
}

section.postcardMain .postcardTitleContainer img{
    display: block;
    width: 100%;
    height: auto;
}

/*2-2-2.(一)+(二)預覽畫面.postLeft + 操作畫面.postRight*/
section.postcardMain .postcardLRContainer{
    box-sizing: border-box;
    padding: 0 20px 30px;
}

section.postcardMain .container .aapostLeft{
    width: 100%;  
    /*background-color: yellow;*/
    box-sizing: border-box;
    padding-top: 15px;    
}

section.postcardMain .container .aapostRight{
    width: 100%;
    /*background-color: green;*/
    text-align: center; 
}

/*2-2-2(一).預覽畫面.postLeft*/
section.postcardMain .aapostLeft .postWhiteBack{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    position: relative;
}

section.postcardMain .aapostLeft #postcardCanvas{
    background-image: url(../images/postcard/postBlack.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

#postcardCanvasSecret{
    display: none;
    /*background-color: red;*/
}

/*
section.postcardMain .aapostLeft .postWhiteBack .debug{
    background-image: url(../images/postcard/postBlack.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
*/
/*section.postcardMain .aapostLeft .postWhiteBack img.test{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
}*/

/*步驟*/
section.postcardMain .aapostLeft .postLeftStepBox{
    display: flex;
    justify-content: space-between;
    width: 100%;
    /*background-color: red;*/
}

section.postcardMain .aapostLeft .postLeftStepBoxSmall{
    max-width: 320px;
    margin: 0 auto 20px;
}

section.postcardMain .aapostLeft .postLeftStepBoxBig{
    display: none;
}

/*步驟黃色圓底, 放在外包裝,+postcard.js跟著步驟做切換*/
section.postcardMain .aapostLeft .postStepYellow{
    width: 16%;
    margin-bottom: 10px;
    border-radius: 50%;
    position: relative;
}

section.postcardMain .aapostLeft .postStepYellowHere{
    background-color: rgba(255, 201, 121, .6);
    transition: all .7s;
}

/*用來放圖騰背景*/
section.postcardMain .aapostLeft .aapostStep{
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    /*background-color: red;*/
    background-image: url(../images/postcard/postStepBorder.png);
    background-size: contain;
    background-repeat: no-repeat; 
    position: relative;
    cursor: pointer;
}

section.postcardMain .aapostLeft .aapostStep p{
    font-size: 12px;
    width: 100%;
    /*background-color: blue;*/
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate( 0, -52%);/*減掉自己本身的,視覺上讓下面重一點*/
}

/*步驟的三角形*/
section.postcardMain .aapostLeft .postStepYellow1:after,
section.postcardMain .aapostLeft .postStepYellow2:after,
section.postcardMain .aapostLeft .postStepYellow3:after,
section.postcardMain .aapostLeft .postStepYellow4:after{
    content: "";
    display: block;
    width: 12px;
    height: 18px;
    background-image: url(../images/postcard/postTriangleS.png);
    background-size: cover;
    position: absolute;
    top: 50%;
    transform: translate( 0, -50%);
    right: -30%;
}


/*2-2-2(二).操作畫面.postRight設定*/
/*===============================================================*/
/*2-2-2(二).操作畫面.postRight切換步驟css + postcard.js*/
.postRight_2{display: none}
.postRight_3{display: none}
.postRight_4{display: none}
.postRight_5{display: none}

/*2-2-2(二).操作畫面.postRight排版*/
section.postcardMain .aapostRight h3{
    font-size: 14px;
    padding-top: 15px;    
}

section.postcardMain .aapostRight .aapostRightDIY{
    width: 70%;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    padding-bottom: 80%;
}

#postDIYBtn_8_Back{
    visibility: hidden;
}

/*===============================================================*/


/*2-2-2(二-1).操作畫面.postRight步驟一樣式*/
section.postcardMain .postRight_1 .aapostRightDIY > div,
section.postcardMain .postRight_1 .aapostRightDIY label{
    width: 60%;
    box-sizing: border-box;
    border: 1px solid #fff;
    box-shadow: 1px 1px 2px 0 #aaa;
    position: absolute;
    cursor: pointer;
}

section.postcardMain .postRight_1 .aapostRightDIY > div > img{
    display: block;
    width: 100%;
    height: auto;
}

section.postcardMain .postRight_1 .aapostBGC_1{
    transform: rotateZ(-10deg);
    top: 18%;
    left: 18%;
    z-index: 5;
}

section.postcardMain .postRight_1 .aapostBGC_2{
    transform: rotateZ(10deg);
    top: 40%;
    left: 45%;
    z-index: 4;
}

section.postcardMain .postRight_1 .aapostBGC_3{
    transform: rotateZ(-6deg);
    top: 52%;
    left: -5%;
    z-index: 3;
}

/*上傳窗格*/
section.postcardMain .postRight_1 .aapostRightDIY .aauploadBGC{
    height: 0;
    padding-bottom: 40%;
    box-sizing: border-box;
    background-color: #ccc;
    border: 1px solid rgba(105, 105, 105, .5);
    transform: rotateZ(6deg);
    top: 75%;
    left: 45%;
    z-index: 2;
}

section.postcardMain .postRight_1 .aapostRightDIY .aauploadBGC input{
    display: none;
}

section.postcardMain .postRight_1 .aapostRightDIY .aauploadBGC div{
    width: 40px;
    height: 40px;
    margin: 0 auto;
    /*background-color: red;*/
    border: 1px solid rgba(105, 105, 105, .5);  
    border-radius: 50%;
}

section.postcardMain .postRight_1 .aapostRightDIY .aauploadBGC img{
    display: inline-block;
    width: 19px;
    height: auto;
    margin-top: 10px;
}

section.postcardMain .postRight_1 .aapostRightDIY .aauploadBGC p{
    margin-top: 10%;
    font-size: 14px;
}

/*操作畫面中背景圖focus, hover效果*/
section.postcardMain .postRight_1 .aapostBGC:focus,
section.postcardMain .postRight_1 .aapostRightDIY .aauploadBGC:focus,
section.postcardMain .postRight_1 .aapostBGC:hover,
section.postcardMain .postRight_1 .aapostRightDIY .aauploadBGC:hover{
    z-index: 10;
    transition: all .5s; 
    border: 3px solid rgb(255, 201, 121);
    box-shadow: 2px 2px 4px 0 #ccc; 
}

section.postcardMain .postRight_1 .aapostBGC_1:focus,
section.postcardMain .postRight_1 .aapostBGC_1:hover{transform: rotateZ(-7deg); top: 16%; left: 16%;}

section.postcardMain .postRight_1 .aapostBGC_2:focus,
section.postcardMain .postRight_1 .aapostBGC_2:hover{transform: rotateZ(7deg); top: 38%; left: 43%;}

section.postcardMain .postRight_1 .aapostBGC_3:focus,
section.postcardMain .postRight_1 .aapostBGC_3:hover{transform: rotateZ(-3deg); top: 50%; left: -3%;}

section.postcardMain .postRight_1 .aapostRightDIY .aauploadBGC:focus,
section.postcardMain .postRight_1 .aapostRightDIY .aauploadBGC:hover{transform: rotateZ(3deg); top: 73%; left: 43%;}

/*搭配js做選中效果*/
section.postcardMain #postRight_1 .aapostBGC_1_Selected{
    border: 3px solid rgb(255, 201, 121);
    box-shadow: 2px 2px 4px 0 #ccc;
    z-index: 10;
    transition: all .5s; 
    transform: rotateZ(-7deg);
    top: 16%; 
    left: 16%;
}
section.postcardMain #postRight_1 .aapostBGC_2_Selected{
    border: 3px solid rgb(255, 201, 121);
    box-shadow: 2px 2px 4px 0 #ccc;
    z-index: 10;
    transition: all .5s; 
    transform: rotateZ(7deg);
    top: 38%; 
    left: 43%;
}
section.postcardMain #postRight_1 .aapostBGC_3_Selected{
    border: 3px solid rgb(255, 201, 121);
    box-shadow: 2px 2px 4px 0 #ccc;
    z-index: 10;
    transition: all .5s; 
    transform: rotateZ(-3deg); 
    top: 50%; 
    left: -3%;
}
section.postcardMain #postRight_1 .aauploadBGC_Selected{
    border: 3px solid rgb(255, 201, 121);
    box-shadow: 2px 2px 4px 0 #ccc;
    z-index: 10;
    transition: all .5s; 
    transform: rotateZ(3deg); 
    top: 73%; 
    left: 43%;  
}

       
/*2-2-2(二-2+ 二-4).操作畫面.postRight步驟二+四樣式*/
section.postcardMain .postRight_2 .aapostRightDIY > div,
section.postcardMain .postRight_4 .aapostRightDIY > div{
    position: absolute;
    width: 100%;
    /*background-color: red;*/
}

section.postcardMain .postRight_2 .aapostRightDIY > div > div,
section.postcardMain .postRight_4 .aapostRightDIY > div > div{
    /*background-color: yellow;*/
    display: flex;
    justify-content: space-around;    
    padding: 0 20px;
}

section.postcardMain .postRight_2 .aapostRightDIY .postDecoFood,
section.postcardMain .postRight_4 .aapostRightDIY .postDecoMark{
    width: 30%;
    padding: 5px;
    border-radius: 50%;
    background-color: rgba(183, 153, 142, .8);
    margin-top: 20px;
    cursor: pointer;  
}

section.postcardMain .postRight_2 .postDecoFood img,
section.postcardMain .postRight_4 .postDecoMark img{
    display: block;
    width: 100%;
    height: auto;
}

section.postcardMain .postRight_2 .aapostRightDIY > div > div:nth-child(2),
section.postcardMain .postRight_4 .aapostRightDIY > div > div:nth-child(2){
    padding-top: 5px;
}

section.postcardMain .postRight_2 .aapostRightDIY > div > div:nth-child(2) p,
section.postcardMain .postRight_4 .aapostRightDIY > div > div:nth-child(2) p{
    font-size: 14px;
}

section.postcardMain .postRight_2 .aapostRightDIY .postDecoFood:hover,
section.postcardMain .postRight_4 .aapostRightDIY .postDecoMark:hover{
    box-sizing: border-box;
    background-color: rgb(255, 201, 121);
}

section.postcardMain .postRight_2 .aapostRightDIY > div > div:nth-child(3),
section.postcardMain .postRight_4 .aapostRightDIY > div > div:nth-child(3){
    /*background-color: yellow;*/
    padding-top: 30px;
    position: relative;
}

section.postcardMain .postRight_2 .aapostRightDIY .postcardTeachBox img,
section.postcardMain .postRight_4 .aapostRightDIY .postcardTeachBox img{
    display: block;
    width: 100%;
    height: auto;
}

section.postcardMain .postRight_2 .aapostRightDIY .postcardTeachText,
section.postcardMain .postRight_4 .aapostRightDIY .postcardTeachText{
    position: absolute;
    top: 28%;
    left: 47%;
    text-align: left;
}

section.postcardMain .postRight_2 .aapostRightDIY .postcardTeachText p,
section.postcardMain .postRight_4 .aapostRightDIY .postcardTeachText p{
    font-size: 12px;
    line-height: 1.7;
}


/*2-2-2(二-3).操作畫面.postRight步驟三樣式*/
section.postcardMain .postRight_3 .aapostRightDIY > div{
    position: absolute;
    width: 100%;
}

section.postcardMain .postRight_3 .aapostRightDIY > div > div{
    /*background-color: red;*/
    width: 80%;
    margin: 5px auto;
}

section.postcardMain .postRight_3 .aapostRightDIY textarea{
    width: 100%;
    height: 70px;
    padding: 5px;
    margin: 0 auto;
    resize: none;
    /*background-color: yellow;*/
}

section.postcardMain .postRight_3 .aapostRightDIY > div h3{
    padding-top: 5px;
}

section.postcardMain .postRight_3 .aapostRightDIY .postcardTextColorBox{
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

/*搭配js用來製作選中效果*/
section.postcardMain .postRight_3 .aapostRightDIY .postcardTextColor{
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid transparent;    
}

section.postcardMain .postRight_3 .aapostRightDIY .postcardTextColorSelected{
    border: 2px solid rgba(0, 0, 0, .6);
}

/*內層真的顏色*/
section.postcardMain .postRight_3 .aapostRightDIY .postcardTextColor span{
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, .7);
    margin: 2px;
}

section.postcardMain .postRight_3 .aapostRightDIY .postcardTextColor1:hover,
section.postcardMain .postRight_3 .aapostRightDIY .postcardTextColor2:hover,
section.postcardMain .postRight_3 .aapostRightDIY .postcardTextColor3:hover,
section.postcardMain .postRight_3 .aapostRightDIY .postcardTextColor4:hover{
    background-color: rgba(255, 201, 121, .7);
}

section.postcardMain .postRight_3 .aapostRightDIY .postcardTextColor1 span{background-color: rgb(255, 255, 255);}
section.postcardMain .postRight_3 .aapostRightDIY .postcardTextColor2 span{background-color: rgb(178, 100, 102);}
section.postcardMain .postRight_3 .aapostRightDIY .postcardTextColor3 span{background-color: rgb(255, 201, 121);}
section.postcardMain .postRight_3 .aapostRightDIY .postcardTextColor4 span{background-color: rgba(0, 0, 0, 0.9);}

section.postcardMain .postRight_3 .aapostRightDIY .leafButton{
    margin-top: 15%;
}


/*2-2-2(二).操作畫面.postRight步驟五樣式*/
section.postcardMain .postRight_5 .postcardFinishTextB{
    display: none;
}

section.postcardMain .postRight_5 .aapostRightDIY > div{
    position: absolute;
    width: 100%;
}

section.postcardMain .postRight_5 .aapostRightDIY table{
    width: 90%;
    max-width: 280px;
    margin: 10px auto 0;
}

section.postcardMain .postRight_5 .finishBox th{
    width: 25%;
    min-width: 90px;
    padding: 8px 0;
}

section.postcardMain .postRight_5 .finishBox td{
    padding: 8px 0;
}

section.postcardMain .postRight_5 .aapostRightDIY .leafButton{
    font-size: 20px;
}

section.postcardMain .postRight_5 .aapostRightDIY p{
    text-align: left;
    font-size: 12px;
}

/*postRight_1 + postRight_5 按鈕*/
section.postcardMain .postRight_1 .postDIYBtn_1_Next,
section.postcardMain .postRight_5 .postDIYBtn_8_Back{
    margin: 20px auto 30px;
}

/*postRight_2 + postRight_3 + postRight_4按鈕*/
section.postcardMain .postRight_2 .postDIYBtn,
section.postcardMain .postRight_3 .postDIYBtn,
section.postcardMain .postRight_4 .postDIYBtn{
    margin: 20px 5px 30px;
}

/*===============================================================*/
/*1125補充教學引導*/
section.postcardMain .aapostRight .postcardTeach{
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #ccc;
    position: absolute;
    padding: 4px 10px;
    z-index: 20;
    font-size: 12px;
}

section.postcardMain .aapostRight .postcardTeach1{
    top: 10%;
    left: 50%;
    animation: upDown1 1s linear infinite normal;      
}
@keyframes upDown1{
    0%{top: 14%;}
    50%{top: 16%;}
    100%{top: 14%;}
}

section.postcardMain .aapostRight .postcardTeach2{
    display: none;
    top: 68%;
    left: 6%;
    animation: upDown4 1s linear infinite normal;      
}
@keyframes upDown4{
    0%{top: 68%;}
    50%{top: 70%;}
    100%{top: 68%;}
}

section.postcardMain .aapostRight .postcardTeach3{
    display: none;
}





/*----------------3-1.pageTitle  標題:注意事項----------------*/
section.postcardNoticeTitle .container{
    padding: 50px 0 30px;
}


/*----------------3-2.postcardNotice  注意事項----------------*/
section.postcardNotice .postCardNoticeBox{
    width: 80%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, .9);
    border-radius: 30px;
    box-sizing: border-box;
    padding: 30px 30px 30px 60px;
    position: relative;
}

section.postcardNotice .container{
    padding-bottom: 140px;
}

/*文字*/
section.postcardNotice .postCardNoticeBox li{
    list-style-type: decimal;
    line-height: 32px;
    padding-bottom: 20px;
}

/*裝飾圖片*/
section.postcardNotice .postCardNoticeBox img{
    display: block;
    width: 100%;
    height: auto;
}

section.postcardNotice .postCardNoticeBox div.catSleep{
    position: absolute;
    top: -30px;
    left: 10%;
    width: 15%;
    max-width: 80px;
    min-width: 50px;
}

section.postcardNotice .postCardNoticeBox div.roadTop{
    display: none;
}

section.postcardNotice .postCardNoticeBox div.roadBottom{
    display: none;
}


/*右下角裝飾圖片*/
section.postcardNotice .postcardNoticeDeco{
    position: absolute;
    bottom: -50px;
    right: -24%;    
    width: 40%;
    max-width: 400px;
    min-width: 250px;
}

section.postcardNotice .postcardNoticeDeco .wall{
    width: 100%;
}

section.postcardNotice .postcardNoticeDeco .postBox{
    position: absolute;
    width: 15%;
    bottom: -15px;
    left: 50%;
    z-index: 3;
}

section.postcardNotice .postcardNoticeDeco .catWalk{
    position: absolute;
    width: 15%;
    bottom: -15px;
    left: 40%;
    z-index: 2;
}

body.postcardBody .forWallDeco{
    overflow: hidden;
}





@media screen and (max-width: 767px){
    /*2-2-2.(一)+(二)預覽畫面.postLeft + 操作畫面.postRight*/
    section.postcardMain .container .aapostLeft{
        max-width: 450px; 
        margin: 0 auto;
    }

    section.postcardMain .container .aapostRight{
        max-width: 380px; 
        margin: 0 auto;
    }
}


@media screen and (min-width: 768px){
    /*----------------shopcart購物車頁面開始(>768)---------------*/
    /*----------------購物車, 客製化明信片頁面的共用----------------*/
    section.pageTitle .container{
        padding: 200px 0 50px;
    }

    /*----------------0.客製化明信片頁面的基本設定及共用----------------*/
    body.postcardBody{
        background-color: #ffe6c1;
    }

    /*明信片白底陰影*/
    .postWhiteBack{
        height: auto;
        box-sizing: border-box;
        background-color: #fff;
        box-shadow: 2px 2px 6px 0 #999;
    }

    .postWhiteBack img{
        display: block;
        width: 100%;
        height: auto;
    }

    /*----------------1-1.pageTitle  標題:明信片範例----------------*/
    section.postcardExampleTitle .container h1{
        padding-bottom: 50px;
    }

    section.postcardExampleTitle .container .postcardOdometer{
        font-size: 24px;
    }

    /*----------------1-2.postcardExample  明信片範例----------------*/
    /*明信片*/
    section.postcardExample .container{
        padding-bottom: 180px;
    }

    section.postcardExample .container > div{
        justify-content: space-between;
    }

    section.postcardExample .container > div .postWhiteBackDemo{
        width: 20%;
        margin-top: 0px;
        position: relative;        
    }

    section.postcardExample .container > div .postDemo1{top: 15px;}
    section.postcardExample .container > div .postDemo2{top: -10px;}
    section.postcardExample .container > div .postDemo3{top: 40px;}
    section.postcardExample .container > div .postDemo4{top: -20px;}

    section.postcardExample .container > div .postDemo2:before,
    section.postcardExample .container > div .postDemo4:before{
        width: 15px;
        height: 25px;
    }

    section.postcardExample .container > div .postDemo1:before{animation: appearSpeedB 1s ease-in 3s 1 normal forwards;}
    section.postcardExample .container > div .postDemo2:before{animation: appearSpeedB 1s ease-in 0.5s 1 normal forwards;}
    section.postcardExample .container > div .postDemo3:before{animation: appearSpeedB 1s ease-in 1s 1 normal forwards;}
    section.postcardExample .container > div .postDemo4:before{animation: appearSpeedB 1s ease-in 2s 1 normal forwards;}    

    @keyframes appearSpeedB{
        0%{opacity: 0;}
        100%{opacity: 1;}
    }


    /*食物裝飾*/
    body.postcardBody .forFoodDeco .postcardFood1{top: 30%; left: 60%;}
    body.postcardBody .forFoodDeco .postcardFood2{top: -50%; left: 2%;}
    body.postcardBody .forFoodDeco .postcardFood3{top: -30%; right: -5%;}

    /*----------------2-2.postcardMain  明信片主要客製畫面----------------*/
    /*2-2-1.標題*/
    section.postcardMain h1{
        padding: 70px 0 30px;    
    }

    section.postcardMain .postcardTitleContainer div.postGirl{
        top: -80px;
        left: 40px;
        width: 15%;
    }

    section.postcardMain .postcardTitleContainer div.stemp{
        top: 30px;
        right: 40px;
    }

    /*2-2-2.(一)+(二)預覽畫面.postLeft + 操作畫面.postRight*/
    section.postcardMain .postcardLRContainer{
        padding: 30px;
        display: flex;
        justify-content: center;
    }

    /*組員要求改用flex*/
    /*
    section.postcardMain .container .postLeft,
    section.postcardMain .container .postRight{
        float: left;
    }*/

    section.postcardMain .container .aapostLeft{
        width: 45%;  
    }

    section.postcardMain .container .aapostRight{
        width: 40%;
    }

    /*2-2-2(一).預覽畫面.postLeft*/
    section.postcardMain .aapostLeft .postWhiteBack{
        margin-bottom: 40px;
    }

    /*步驟*/
    section.postcardMain .aapostLeft .postLeftStepBoxBig{
        display: flex;
        justify-content: space-between;
        width: 100%;
        /*background-color: red;*/
    }

    section.postcardMain .aapostLeft .postLeftStepBoxSmall{
        display: none;
    }


    /*===============================================================*/
    /*2-2-2(二).操作畫面.postRight排版*/
    section.postcardMain .aapostRight .aapostRightDIY{
        margin: 10px 3% 0 27%;
    }
    /*===============================================================*/

    /*2-2-2(二).操作畫面.postRight步驟一樣式*/
    /*postRight_1 + postRight_5 按鈕*/
    section.postcardMain .postRight_1 .postDIYBtn_1_Next,
    section.postcardMain .postRight_5 .postDIYBtn_8_Back{
      margin: 20px 0 30px 20%;
    }

    /*postRight_2 + postRight_3 + postRight_4按鈕*/
    section.postcardMain .aapostRight .postDIYBtn_Wrap{
        width: 70%;
        margin: 0 3% 0 27%;
    }

    /*處理完畢!左邊的按鈕左邊0,右邊的按鈕右邊0!!!*/
    section.postcardMain .postRight_2 .postDIYBtn_2_Back,
    section.postcardMain .postRight_3 .postDIYBtn_4_Back,
    section.postcardMain .postRight_4 .postDIYBtn_6_Back{
        margin: 20px 5px 30px 0;
    }
    section.postcardMain .postRight_2 .postDIYBtn_3_Next,
    section.postcardMain .postRight_3 .postDIYBtn_5_Next,
    section.postcardMain .postRight_4 .postDIYBtn_7_Next{
        margin: 20px 0 30px 5px;
    }

    /*2-2-2(二-3).操作畫面.postRight步驟三樣式*/
    section.postcardMain .postRight_3 .aapostRightDIY textarea{
        height: 60px;
    }

    section.postcardMain .postRight_3 .aapostRightDIY .leafButton{
        margin-top: 18%;
    }

    /*2-2-2(二).操作畫面.postRight步驟五樣式*/
    section.postcardMain .postRight_5 .finishBox td{
        padding: 8px 2px;
    }









    /*----------------3-1.pageTitle  標題:注意事項----------------*/
    section.postcardNoticeTitle .container{
        padding: 100px 0 60px;
    }


    /*----------------3-2.postcardNotice  注意事項----------------*/
    section.postcardNotice .postCardNoticeBox{
        padding: 60px 60px 60px 80px;
    }

    section.postcardNotice .container{
        padding-bottom: 180px;
    }

    /*裝飾圖片*/
    section.postcardNotice .postCardNoticeBox div.roadTop,
    section.postcardNotice .postCardNoticeBox div.roadBottom{
        display: block;
        position: absolute;
        width: 30%;
        max-width: 300px;
        min-width: 70px;
        z-index: -2;
    }
    section.postcardNotice .postCardNoticeBox div.roadTop{right: 1%; top: -120px;}
    section.postcardNotice .postCardNoticeBox div.roadBottom{left: 1%; bottom: -120px;}

}


@media screen and (min-width: 860px){
    /*2-2-2(二).操作畫面.postRight步驟五樣式*/
    section.postcardMain .postRight_5 .finishBox th{
        min-width: 100px;
        padding: 8px 0 8px 20px;
    }

    section.postcardMain .postRight_5 .finishBox td{
        padding: 8px 2px 8px 10px;
    }

    section.postcardMain .postRight_5 .aapostRightDIY p{
        font-size: 14px;
    }

}


@media screen and (min-width: 992px){
    /*----------------2-2.postcardMain  明信片主要客製畫面----------------*/
    /*2-2-1.標題*/
    section.postcardMain h1{
        padding: 100px 0 30px;    
    }

    /*2-2-2(一).預覽畫面.postLeft*/
    section.postcardMain .aapostLeft .postWhiteBack{
        width: 90%;
        margin: 0 2% 40px 8%;
    }

    /*步驟*/
    section.postcardMain .aapostLeft .postLeftStepBoxBig{
        width: 87%;
        margin: 0 3% 0 10%;
    }

    section.postcardMain .aapostLeft .postStepYellow{
        width: 14%;
    }

    /*步驟的三角形*/
    section.postcardMain .aapostLeft .postStepYellow1:after,
    section.postcardMain .aapostLeft .postStepYellow2:after,
    section.postcardMain .aapostLeft .postStepYellow3:after,
    section.postcardMain .aapostLeft .postStepYellow4:after{
        right: -40%;
    }



    /*===============================================================*/
    /*2-2-2(二).操作畫面.postRight排版*/
    section.postcardMain .aapostRight h3{
        font-size: 18px;
    }
    /*===============================================================*/

    section.postcardMain .aapostRight .aapostRightDIY{
        margin: 10px 10% 0 20%;
    }

    /*2-2-2(二).操作畫面.postRight步驟一樣式*/
    /*postRight_1 + postRight_5 按鈕*/
    section.postcardMain .postRight_1 .postDIYBtn_1_Next,
    section.postcardMain .postRight_5 .postDIYBtn_8_Back{
      margin: 20px 0 30px 30px;
    }

    /*postRight_2 + postRight_3 + postRight_4按鈕*/
    section.postcardMain .aapostRight .postDIYBtn_Wrap{
        width: 70%;
        margin: 0 10% 0 20%;
    }

    /*postRight_2 + postRight_3 + postRight_4按鈕*/
    section.postcardMain .postRight_2 .postDIYBtn,
    section.postcardMain .postRight_3 .postDIYBtn,
    section.postcardMain .postRight_4 .postDIYBtn{
        margin: 20px 5px 30px;
    }

    /*2-2-2(二-2+ 二-4).操作畫面.postRight步驟二+四樣式*/
    section.postcardMain .postRight_2 .aapostRightDIY .postcardTeachText,
    section.postcardMain .postRight_4 .aapostRightDIY .postcardTeachText{
        top: 25%;
        left: 50%;
    }

    section.postcardMain .postRight_2 .aapostRightDIY .postcardTeachText p,
    section.postcardMain .postRight_4 .aapostRightDIY .postcardTeachText p{
        font-size: 15px;
        line-height: 1.8;
    }

    /*2-2-2(二-3).操作畫面.postRight步驟三樣式*/
    section.postcardMain .postRight_3 .aapostRightDIY > div > div{
        margin: 10px auto;
    }

    section.postcardMain .postRight_3 .aapostRightDIY textarea{
        height: 100px;
    }

    section.postcardMain .postRight_3 .aapostRightDIY .postcardTextColorBox{
        padding: 0 30px;
    }

    section.postcardMain .postRight_3 .aapostRightDIY .leafButton{
        margin-top: 30px;
    }

    /*2-2-2(二).操作畫面.postRight步驟五樣式*/
    section.postcardMain .postRight_5 .postcardFinishTextS{display: none;}
    section.postcardMain .postRight_5 .postcardFinishTextB{display: block;}

    section.postcardMain .postRight_5 .aapostRightDIY table{
        margin: 20px auto 0 ;    
    }

    section.postcardMain .postRight_5 .finishBox th{
        width: 90px;
        padding: 8px 0;
    }


    /*===============================================================*/
    /*1125補充教學引導*/
    section.postcardMain .aapostRight .postcardTeach{
        padding: 6px 12px;
        z-index: 20;
        font-size: 14px;
    }







    /*----------------3-2.postcardNotice  注意事項----------------*/
    section.postcardNotice .container{
        padding-bottom: 300px;
    }

    /*裝飾圖片*/
    section.postcardNotice .postCardNoticeBox div.roadTop{top: -35%;}
    section.postcardNotice .postCardNoticeBox div.roadBottom{bottom: -150px;}

}



@media screen and (min-width: 1200px){
    /*----------------2-2.postcardMain  明信片主要客製畫面----------------*/
    /*===============================================================*/
    /*2-2-2(二).操作畫面.postRight排版*/
    section.postcardMain .aapostRight .aapostRightDIY h3{
        padding-top: 25px;
    }
    /*===============================================================*/
    /*2-2-2(二-2+ 二-4).操作畫面.postRight步驟二+四樣式*/
    section.postcardMain .postRight_2 .aapostRightDIY .postcardTeachText,
    section.postcardMain .postRight_4 .aapostRightDIY .postcardTeachText{
        top: 28%;
    }

    /*2-2-2(二).操作畫面.postRight步驟五樣式*/
    section.postcardMain .postRight_5 .aapostRightDIY table{
        margin: 30px auto 0 ;    
    }

    section.postcardMain .postRight_5 .finishBox th{
        padding: 10px 0;
    }

    section.postcardMain .postRight_5 .finishBox td{
        padding: 10px 5px;
    }

    /*===============================================================*/
    /*1125補充教學引導*/
    section.postcardMain .aapostRight .postcardTeach1{
        top: 18%;
        left: 60%;
        animation: upDown2 1s linear infinite normal;      
    }
    @keyframes upDown2{
        0%{top: 18%;}
        50%{top: 20%;}
        100%{top: 18%;}
    }

    section.postcardMain .aapostRight .postcardTeach2{
        top: 70%;
        left: 10%;
        animation: upDown3 1s linear infinite normal;      
    }
    @keyframes upDown3{
        0%{top: 70%;}
        50%{top: 72%;}
        100%{top: 70%;}
    }

    section.postcardMain .aapostRight .postcardTeach3{
        top: 70%;
        left: 10%;
        animation: upDown3 1s linear infinite normal;      
    }
    @keyframes upDown3{
        0%{top: 70%;}
        50%{top: 72%;}
        100%{top: 70%;}
    }

}