/*----------------shopcart購物車頁面開始(<768)---------------*/
/*----------------購物車共用----------------*/
.wrapA{
    width: 100%;
}

section.pageTitle .container{
    text-align: center;
    padding: 150px 0 30px;
    position: relative;
}

body{
    font-family: 'Noto Serif TC', serif;
    background-color: rgb(255, 230, 193);
}

@font-face {
    font-family: '華康秀風體';
    src: url('華康秀風體.TTF')
    /*unicode-range: U+884C, U+7A0B, U+4ECB, U+7D39;*/
}

section.cartOrder input{
    padding: 3px;
}

/*for AJAX*/
#form1, #form2{
    display: none;
}

/*=============0.最外層為了雲消失包的=============*/
.forCloudAnimation{
    overflow: hidden;
    min-height: 800px;
    background: rgb(255, 230, 193) url(../images/shopcart/mountain_01_90.png) no-repeat center bottom / contain;
}

/*=============1.標題=============*/

section.shopcartPageTitle div{
    position: absolute;
}

section.shopcartPageTitle div.pageTitleCloud1{width: 20%; max-width: 200px; top: 70%; right: -5%;}
section.shopcartPageTitle div.pageTitleCloud2{width: 10%; max-width: 120px; min-width: 70px; top: 60%; left: 40px;}
section.shopcartPageTitle div.pageTitleBird1{display: none; width: 3%; max-width: 57px; min-width: 30px; top: 50%; right: 5%;}
section.shopcartPageTitle div.pageTitleBird2{width: 4%; max-width: 57px; min-width: 30px; top: 65%; right: 15%;}

section.shopcartPageTitle img{
    display: block;
    width: 100%;
}

/*=============2.購物車內容=============*/
section.cartOrder .container{
    padding: 0px 20px;
    max-width: 500px;
    position: relative;
    z-index: 3;
}

/*表頭*/
section.cartOrder .cartOrderShipHeader,
section.cartOrder .cartOrderPriceHeader,
section.cartOrder .cartOrderDiScountHeader,
section.cartOrder .cartOrderPayHeader{
    background-color: rgba(243, 152, 0, .8);
    text-align: center;
    padding: 6px 0;
}

/*表身*/
section.cartOrder .cartOrderShipBody,
section.cartOrder .cartOrderPriceBody,
section.cartOrder .cartOrderDiScountBody,
section.cartOrder .cartOrderPayBody{
    background-color: rgba(255, 255, 255, .5);
    padding: 30px 30px;
}

.bornItemList{
    width: 100%;
}


/*=============2-1.欄位名稱=============*/
section.cartOrder .container .cartOrderHeader h3{
    display: none;
}

/*=============2-2.商品列=============*/
section.cartOrder .container .cartOrderRow{
    background-color: rgba(255, 255, 255, .5);
    border-bottom: 1px solid #ccc;
    padding: 30px 0;
    position: relative;
}

/*<768以下的表頭*/
section.cartOrder .container .cartOrderRow1{
    border-top: 20px solid rgba(243, 152, 0, .8);
    border-radius: 20px 20px 0 0;
}

section.cartOrder .container .cartOrderRow .cartRowPic{
    width: 40%;
    float: left;
}

section.cartOrder .container .cartOrderRow .cartRowDetail{
    width: 60%;
    float: left;
}

/*去掉圖片, 其餘欄位做的垂直調整*/
section.cartOrder .container .cartOrderRow .cartRowDetailName,
section.cartOrder .container .cartOrderRow .cartRowDetailPrice,
section.cartOrder .container .cartOrderRow .cartRowDetailNum,
section.cartOrder .container .cartOrderRow .cartRowDetailSubtotal,
section.cartOrder .container .cartOrderRow .cartRowTrash{
    padding-top: 2%;
}

/*商城商品列會更高*/
section.cartOrder .container .cartOrderRowShop .cartRowDetailName,
section.cartOrder .container .cartOrderRowShop .cartRowDetailPrice,
section.cartOrder .container .cartOrderRowShop .cartRowDetailNum,
section.cartOrder .container .cartOrderRowShop .cartRowDetailSubtotal,
section.cartOrder .container .cartOrderRowShop .cartRowTrash{
    padding-top: 3.5%;
}

/*圖片調整*/
section.cartOrder .container .cartOrderRow .cartRowPic div{
    width: 70%;
    max-width: 120px;
    margin: 20px auto;
}

section.cartOrder .container .cartOrderRow .cartRowTrash div{
    width: 20%;
    max-width: 30px;
    position: absolute;
    bottom: 30px;
    right: 20px;
}

section.cartOrder .container .cartOrderRow .cartRowPic img,
section.cartOrder .container .cartOrderRow .cartRowTrash img{
    display: block;
    width: 100%;
    height: auto;
}

section.cartOrder .container .cartOrderRow .cartRowTrash img{
    cursor: pointer;
}


/*明信片白底陰影*/
section.cartOrder .cartPicPostcard{
    height: auto;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 2px 2px 6px 0 #999;
    padding: 2px;
}

section.cartOrder .container .cartOrderRow .cartRowDetailNum .cartRowSmallSizeApear{
    border: none;
}

/*=============2-3.商品取貨=============*/
.cartOrderShipBody > div:nth-of-type(1){
    margin-bottom: 30px;
}

/*=============2-4.商品折扣=============*/
section.cartOrder .cartOrderDiScount .cartGameForCoupon{
    display: inline-block;

}

section.cartOrder .cartOrderDiScount .cartGameForCoupon span{
    font-size: 12px;
    color: rgb(178, 100, 102);    
}

section.cartOrder .cartOrderDiScount .cartGameForCoupon span:hover{
    text-decoration: underline;  
}

section.cartOrder .cartOrderDiScount select.chooseCoupon{
    padding: 5px;
    outline: none;
    /*border: 1px solid rgba(243, 152, 0, .8);*/
    background-color: #fff;
}

section.cartOrder .cartOrderDiScount select option{
    height: 5px;
    /*outline: none;*/
    /*border: 1px solid rgba(243, 152, 0, .8);*/
    background-color: #fff;
}


/*=============2-5.商品價格=============*/
section.cartOrder .cartOrderPrice{
    background-color: rgb(255, 255, 255, .5);
    border-radius: 0 0 25px 25px; 
}

section.cartOrder .cartOrderPriceBody span.cartPriceBoxLast{
    display: inline-block;
    padding-left: 20px;

}

/*=============2-6.付款資料=============*/
section.cartOrder .cartOrderPayBody{
    border-radius: 0 0 25px 25px;
}

/*=============2-7.按鈕=============*/
section.cartOrder .cartOrderBtn{
    text-align: center;
    padding: 30px 0 100px;
}

section.cartOrder .cartOrderBtn .cartContinueBtn,
section.cartOrder .cartOrderBtn .cartNextBtn{
    margin: 0 5px;
}

section.cartOrder .cartOrderBtn .cartContinueBtn{
    display: inline-block;
}

section.cartOrder .cartOrderBtn .cartNextBtn{
    border: 2px solid rgba(243, 152, 0, .8);
}

section.cartOrder .cartOrderBtn div.whiteButton:hover{
    color: #fff;
    background-color: rgba(243, 152, 0, .8);
    transition: all .5s;
}



@media screen and (min-width: 768px){
    /*----------------shopcart購物車頁面開始(>=768)----------------*/
    /*=============1.標題=============*/
    section.pageTitle .container{
        padding: 180px 0 50px;
    }

    section.pageTitle div.pageTitleBird1{
        display: block;
    }
    /*=============2.購物車內容=============*/
    /*表身*/
    section.cartOrder .cartOrderShipBody,
    section.cartOrder .cartOrderPriceBody,
    section.cartOrder .cartOrderDiScountBody,
    section.cartOrder .cartOrderPayBody{
        background-color: rgba(255, 255, 255, .5);
        padding: 30px 50px;
    }

    /*=============2-1.欄位名稱=============*/
    section.cartOrder .container .cartOrderHeader{
        background-color: rgba(243, 152, 0, .8);
        border-radius: 25px 25px 0 0;    
    }

    section.cartOrder .container .cartOrderHeader h3{
        display: block;
        width: 20%;
        text-align: center;
        float: left;
        padding: 10px 0;
    }

    /*=============2-2.商品列=============*/
    /*清除<768以下的表頭*/
    section.cartOrder .container .cartOrderRow1{
        border-top: 0 solid rgba(243, 152, 0, .8);
        border-radius: 0;
    }   

    section.cartOrder .container{
        max-width: 1000px;
    }

    section.cartOrder .container .cartOrderRow .cartRowDetail{
        width: auto;
        float: none;
    }

    section.cartOrder .container .cartOrderRow .cartRowDetail .cartRowSmallSizeApear{
        display: none;
    }

    section.cartOrder .container .cartOrderRow .cartRowPic,
    section.cartOrder .container .cartOrderRow .cartRowDetailName,
    section.cartOrder .container .cartOrderRow .cartRowDetailPrice,
    section.cartOrder .container .cartOrderRow .cartRowDetailNum,
    section.cartOrder .container .cartOrderRow .cartRowDetailSubtotal{
        width: 20%;
        text-align: center;
        float: left;
    }

    /*圖片調整*/
    section.cartOrder .container .cartOrderRow .cartRowPic div{
        width: 65%;
        max-width: 100px;
        margin: 0 auto;
    }

    section.cartOrder .container .cartOrderRow .cartRowTrash div{
        margin: 0 auto;
        position: relative;
        bottom: 0;
        right: 0;
    }

    section.cartOrder .container .cartOrderRow .cartRowPic img,
    section.cartOrder .container .cartOrderRow .cartRowTrash img{
        display: block;
        width: 100%;
        height: auto;
    }

    /*=============2-6.按鈕=============*/
    section.cartOrder .cartOrderBtn{
        padding: 50px 0 100px;
    }

    section.cartOrder .cartOrderBtn .cartContinueBtn,
    section.cartOrder .cartOrderBtn .cartNextBtn{
        margin: 0 10px;
    }

}

