$FontSize:(
    h1:40px,
    h2:20px,
    h3:18px,
    p:15px,
    a:15px
);
$DesktopFontSize:(
    h1:60px,
    h2:24px,
    h3:18px,
    p:16px,
    a:16px
);
$ScreenMedium:768px;
$ScreenNine:992px;
$ScreenMaxWidth:1200px;
$gridPadding:10px;
$pagePadding:20px;
$color:#27385a;